body {
    margin: 0;
    padding: 0;
    background: #ffd;
    max-width: 70em;
    margin: auto;
    color: #622;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
}
h1 > .subtitle {
    font-size: 2rem;
    font-style: italic;
}

h2 {
    font-size: 2rem;
}

input[type="button"], input[type="submit"], button {
    font-size: inherit;
    margin: .2rem .1rem;
    padding: .2rem 1.5rem;
    background-color: #833;
    color: #ffd;
    border: none;
    border-radius: .2rem;
}

input[type="button"]:disabled, input[type="submit"]:disabled, button:disabled {
    background-color: #866;
    color: #ddd;
}

#fungespace > div { 
    min-width: 60em;
    min-height: 30em;
    font-family: "Roboto Mono", monospace;
    font-size: 1.2em;
    border: 1px solid #444;
}

#output {
    font-family: "Roboto Mono", monospace;
    font-size: 1.2em;
}

#fungespace .ip {
    background-color: black;
    color: white;
}

